.video-container > :first-child {
  display: flex;
  /* display: block; */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: relative;
}

.video-container > :first-child > .video-frame {
  height: auto;
  flex-grow: 1;
  border-radius: 10px;
}
.video-container > :first-child > div {
  flex-grow: 0;
  position: absolute;
  bottom: 18px;
  background-color: white;
  border-radius: 3px;
  padding: 3px;
  right: 6px;
}
